.bg {
  position: fixed;
  z-index: 800;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.container {
  position: relative;
}

.popup {
  position: absolute;
  margin-top: 4px;
  z-index: 900;
  background: #fafaff;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #D6D6FF;
}

.popup-enter {
  opacity: 0;
}
.popup-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}
.popup-exit {
  opacity: 1;
}
.popup-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}